div{
    border-radius: 10px;;
}
.big{
    width: 100vw;
    height: 300px;
}
.small{
    width: 40px;
    height: 300px;
}
.small1{
    width: 40px;
    height: 300px;
}
.row{
    justify-content: space-between;
}
.random{
    background-color: blue!important;

}
.abc{
    flex-direction: reverse;
}
//  #dm:hover{
//     background-color: aquamarine;
// }